@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #151515;
  font-family: "Open Sans", sans-serif;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-icons {
  display: flex;
  font-size: 1.5rem;
}

.icons-item {
  margin: 2rem;
  color: #fff;
}

.footer-para {
  color: #77746f;
  margin-left: 3rem;
}
.sarah {
  color: #7babc2;
}
